@charset "UTF-8";

/*	================================================================================ */
/*	This stylesheet uses a colour theme from http://kuler.adobe.com/#themeID/533348  */
/*  #B4EFF
/*  #87B3BF
/*  #5A787F
/*  #2D3C40
/*  #282927
/*	================================================================================ */

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
	
	html
	{
		margin: 0;
		padding: 0;
	}
	
	body 
	{
		font-family: "myriad pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 0;
	}
	
	
/* ...................................................................................................
 * Image styles
 * ...................................................................................................*/

	/* Images */
	img
	{
		float: left;
		padding: 2px 20px;
		/*background-color: darkseagreen;*/
		
	}
	
	a img{
		border: 0;
	}	

	
/* ...................................................................................................
 * Header styles
 * ...................................................................................................*/

	h1, h2, h3, h4, h5, h6 
	{
		font-family: "myriad pro", georgia, garamond, "times new roman", times, serif;
		color: #222;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 15px;
	}
	
	h1
	{
		font-size: 25px;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	h2
	{
		width: 480px;
		font-size: 20px;
		padding: 0;
		clear: both;
		color: #ffffff;
	}
	
	h2+p
	{
		width: 80%;
		margin: 0 auto;
		text-align: justify;
		padding-left: 20px;
		/*background-color: navy;*/
		clear: both;
	}
	
	h3
	{
		font-size: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	/*h3+p
	{
		width: 80%;
		margin: 0 auto;
		text-align: justify;
		padding-left: 20px;
		background-color: navy;
		clear: both;
	}*/
	
	h4
	{
		font-size: 10px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	p
	{
		width: 80%;
		margin: 0 auto;
		text-align: justify;
		padding-left: 20px;
		padding-bottom: 20px;
		/*background-color: navy;*/
		clear: both;
		/*width: 80%;*/
		/*text-align: center;*/
	}
	
	hr
	{
		width: 20%;
		text-align: left;
	}
	
	footer
	{
		width: 100%;
		margin: 0;
		clear: both;
		text-align: center;
		float: left;
		background-color: #B8B8B8;
		font-size: 80%;
		font-style: italic;
	}
	
	footer a
	{
		text-decoration: none;
		padding-left: 10px;
		padding-right: 5px;
	}
	
	nav
	{
		float: right;
		background-color: violet;
	}
	
	
/* ...................................................................................................
 * Div styles
 * ...................................................................................................*/

	#wrapper
	{
		width: 960px;
		margin: auto;
		background-color: aquamarine;
		
	}
	
	#banner
	{
		width: 960px;
		height: 180px;
		background-color: #5A787F;
		margin-bottom: 30px;
	}
	
	#banner a img
	{
		padding-top: 148px;
		
	}
	
	#header_text
	{
		/*margin: 0px;*/
		width: 200px;
		padding-right: 10px;
		float: right;
		/*background-color: darkkhaki;*/
	}
	
	#main
	{
		width: 960px;		
		float: left;
		/*background-color: limegreen;*/
	}
	
	#main h2
	{
		background-color: #2D3C40;
	}
	
	
	#socialmedia
	{
		width: 216px;
		height: 40px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 0;
	}
	
	#socialmedia a img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	#copyright
	{
		float: left;
	}
	
	#footerlinks
	{
		float: right;
	}
	
	
/* ...................................................................................................
 * Class styles
 * ...................................................................................................*/
	
	.details
	{
		width: 115px;
		padding-left: 20px;
		float: left;
		background-color: #87B3BF;
		clear: left;
	}
	
	p.details
	{
		float: right;
	}
	
	
	.date
	{
		width: 125px;
		float: right;
		padding-right: 10px;
		background-color: #87B3BF;
	}


